<a routerLink="/shop" class="inline-flex items-center text-blue-600 hover:underline mb-4 ml-4 mt-4">
    <mat-icon>arrow_back</mat-icon>
    <span class="ml-1">Back to Home</span>
</a>
@if (product) {
    <section class="py-8">
        <div class="max-w-screen-2xl px-4 mx-auto">
            <div class="grid grid-cols-2 gap-8">
                <div class="image-wrapper max-w-xl mx-auto">
                    <img
                            class="product-image"
                            [src]="product.pictureUrl"
                            alt="product image"
                    />
                </div>

                <div>
                    <h1 class="text-2xl font-semibold text-gray-900">{{product.name}}</h1>
                    <div class="mt-4 items-center gap-4 flex">
                        <p class="text-3xl font-extrabold text-gray-900">
                            {{product.price | currency}}
                        </p>
                    </div>

                    <div class="flex gap-4 mt-6">
                        <button mat-flat-button class="match-input-height">
                            <mat-icon>shopping_cart</mat-icon>
                            Get A Quote
                        </button>

                        <mat-form-field appearance="outline" class="flex">
                            <mat-label>Quantity</mat-label>
                            <input matInput type="number">
                        </mat-form-field>
                    </div>

                    <mat-divider></mat-divider>

                    <p class="mt-4 text-lg font-bold text-gray-900">
                        {{product.description}}
                    </p>
                    <p class="mt-4 text-lg font-bold text-gray-900">
                        Year: {{product.year}}
                    </p>
                    <p class="mt-2 text-lg font-bold text-gray-900">
                        Fuel Type: {{product.fuelType}}
                    </p>
                    <p class="mt-2 text-lg font-bold text-gray-900">
                        Transmission Type: {{product.transmissionType}}
                    </p>
                    <p class="mt-2 text-lg font-bold text-gray-900">
                        Kilometers: {{product.kilometers}}
                    </p>
                    <p class="mt-2 text-lg font-bold text-gray-900">
                        Owner Number: {{product.ownerNumber}}   
                    </p>
                    <p class="mt-2 text-lg font-bold text-gray-900">
                        Location: {{product.location}}  
                    </p>
                    <p class="mt-2 text-lg font-bold text-gray-900">
                        Posting Date: {{product.postingDate | date:'mediumDate'}}
                    </p>
                    <p class="mt-2 text-lg font-bold text-gray-900">
                        Brand: {{product.brand}}
                    </p>
                    <p class="mt-2 text-lg font-bold text-gray-900">
                        Type: {{product.type}}
                    </p>
                    <p class="mt-2 text-lg font-bold text-gray-900">
                        Make: {{product.make}}
                    </p>
                    <p class="mt-2 text-lg font-bold text-gray-900">
                        Model: {{product.model}}
                    </p>
                </div>

            </div>
        </div>
    </section>
}